html,
body {
  background: black;
  background-image: url(./image/savana.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 360px;
}

body {
  font: 16px Serif;
  margin: 20px;
}

.tic-tac-toe {
  background-image: url(./image/leopard.jpg);
  background-size: fit;
  font-weight: bold;
  font-style: italic;
  font-size: 3em;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: 1px black;
  letter-spacing: 1px;
}

.container {
  margin: 0 auto;
  max-width: 700px;
  padding: 30px;
  border-radius: 30px;
  background-image: url(./image/savanaSmall.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

td {
  font-size: 6em;
  font-weight: bold;
  min-width: 90px;
  max-width: 90px;
  text-align: center;
  color: rgb(250, 225, 0);
  background-color: rgba(183, 178, 178, 0.5);
}

.square {
  margin-bottom: -10px;
  font-size: 0.8em;
  min-height: 100px;
  max-height: 100px;
  text-align: center;
  min-width: 100px;
  max-width: 100px;
  border: 12px solid transparent;
  cursor: pointer;
  border-image: repeating-radial-gradient(
      circle at 10px,
      rgb(36, 190, 36),
      rgb(238, 143, 47) 2px,
      rgb(37, 54, 210) 4px,
      rgb(227, 99, 82) 2px
    )
    2;
}

.footer {
  color: #b6b4b3;
  text-align: center;
  width: 100%;
  margin: 20px;
  margin-right: 20px;
}

.footer a {
  display: inline;
}

.twitter {
  color: #61dafb;
  font-size: 0.9em;
}

.github {
  color: lightgrey;
  font-size: 0.9em;
}

.footer a:hover {
  color: rgb(58, 155, 196);
}

.footer,
.footer a {
  font-size: 1.1em;
}

.footer h1 {
  font-size: 1em;
}
